<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Revisions</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <h1 class>Revision</h1>
    <br/>
    <table class='table table-bordered table-hover'>
      <thead>
        <tr>
          <th data-field='id'>Item ID</th>
          <th data-field='operation'>Item Name</th>
          <th data-field='priority'>Item Price</th>
          <th data-field='operation_at'>Time</th>
          <th data-field='editor_name'>Editor</th>
          <th data-field=''></th>
        </tr>
      </thead>
      <tbody>
        <% @revisions.each do |revision| %>
          <% if revision.needs_moderation == true %>
          <tr class='danger'>
          <% else %>
          <tr>
          <% end %>
            <td><%= revision.id %></td>
            <td><%= revision.operation %></td>
            <td><%= revision.priority %></td>
            <td><%= revision.operation_at.strftime('%a %d %B %y at %H:%M') %></td>
            <td><%= revision.editor_name.titlecase %></td>
            <td><a href='revisions/<%= revision.id %>'>view</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @page.to_i == 1 %>
      <nav>
        <ul class='pager'>
          <li class='disabled'><a href='revisions?page_no=<%= @previous_page %>'>Previous</a></li>
          <li><a href='revisions?page_no=<%= @next_page %>'>Next</a></li>
        </ul>
      </nav>
    <% else %>
      <nav>
        <ul class='pager'>
          <li><a href='revisions?page_no=<%= @previous_page %>'>Previous</a></li>
          <li><a href='revisions?page_no=<%= @next_page %>'>Next</a></li>
        </ul>
      </nav>
    <% end %>
  </body>
</html>
