<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Revisions</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <h1 class>Revision</h1>
    <br/>
    <div class='row'>
    <form>
     <div class='form-group'>
       <label for='id'>ID</label>
       <input type='text' class='form-control' disabled='true' id='id' value='<%= @revision.id %>'/>
     </div>
     <div class='form-group'>
       <label for='properties'>Properties</label>
       <textarea class='form-control' rows='20' columns='500' disabled='true' id='properties'>
         <%= @revision.properties %>'</textarea>
       </div>
     </form>
    <ul class='nav nav-pills nav-stacked' width='300px'>
      <li><a href='/revisions/<%= @revision.id %>/approve'>approve</a></li>
      <li><a href='/revisions/<%= @revision.id %>/deny'>deny</a></li>
      <li><a href='/revisions'>go back</a></li>
    </ul>
    </div>
  </body>
</html>
